@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:wght@900&display=swap");
  html,body {
  font-family: 'Titillium Web', sans-serif;
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  overflow: hidden;
  text-align: center;
  background-color: #222222;
  color: #ffffff;
}
.heading {
    height: 200px;
    text-align: center;

}
.heading h1 {
    font-family: 'Titillium Web', sans-serif;
    font-size: 100px;
    margin: 0;
} 
.score {
    margin: 0 auto;
    width: 400px;
   display: flex;
   flex-direction: row;
   justify-content: space-around;
}
.score h1 {
    font-family: 'Titillium Web', sans-serif;
}
.user-score h3 {
    margin-left: 22px;
    font-family: 'Titillium Web', sans-serif;
}
.comp-score h3 {
    margin-left: 60px;
    font-family: 'Titillium Web', sans-serif;

}
.result {
    margin: 0 auto;
    padding-right: 60px;
    height: 150px;
    width: 600px;
    text-align: center;
}
.result h2 {
    font-family: 'Titillium Web', sans-serif;
    font-weight: 400;
}
.result h3 {
    padding-right: 50px;
    color: red;
}
.buttons {
    margin: 0 400px;
}
.buttons .btn {
    padding: 20px 60px;
    font-family: 'Titillium Web', sans-serif;
    font-size: 1.4rem;
    background: #222222;
    border: 1px solid #fff;
    color: #fff
}
.buttons .btn:hover {
    background: #fff;
    color: #222222;
}
.reload {
    height: 80px;
    width: 300px;
    display: none;
    padding-right: 120px;
    transform: translate(540px,-80px);
    
}
.reload-btn {
    width: 200px;
}